#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=Mixer utility for Firewire audio devices
Exec=ffado-mixer
GenericName=FFADO Mixer utility
Icon=ffado-mixer
Name=FFADO Mixer
Path=
Type=Application
Categories=Mixer;Audio;AudioVideo;HardwareSettings;Qt;
Name[C]=limelinux-ffadomixer.desktop.desktop
